/*en el caso de contar con variables, funciones, mixins - deben ir antes del resto de las paginas*/
/*son bloques de propiedades y valores - hay que nombrarlos*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }

header {
  width: 100%;
  height: 70%;
  /*height:90px;*/
  background-color: rgba(245, 245, 220, 0.503);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  border-radius: 0 0 10px 10px;
  margin: auto;
  /*padding:30px;*/ }
  header nav ul {
    display: flex; }
    header nav ul a {
      text-decoration: none;
      color: black;
      margin: 0 2px;
      font-size: medium;
      padding: 8px 18px;
      transition: 0.2s;
      border-radius: 30px; }
      header nav ul a:hover {
        color: #f90808;
        font-size: larger;
        font-weight: bold; }
  header .logotipo {
    display: flex;
    align-items: center;
    color: black; }
  header .logotipo img {
    margin-right: 10px;
    margin-bottom: 10px; }

.hamburguesa {
  display: none;
  height: fit-content;
  cursor: pointer;
  padding: 3px 8px;
  border-radius: 5px;
  transition: 0.2s; }
  .hamburguesa:hover {
    background: #f6f4ff; }
  .hamburguesa div {
    width: 30px;
    height: 2px;
    margin-right: 6px 0;
    background-color: #212526; }

body {
  /*background-image: url(https://images.unsplash.com/photo-1550275994-cdc89cd1948f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8YmFja2dyb3VuZCUyMGRhbnphfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);*/
  background-image: linear-gradient(to top, #0250c5 0%, #d43f8d 100%);
  background-size: 100vw 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
  body main {
    box-sizing: content-box; }
    body main h1 {
      text-align: center;
      color: aliceblue;
      margin-top: 20px;
      padding: 30px; }
    body main .gallery {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 15px;
      flex-direction: row;
      flex-wrap: wrap; }
      body main .gallery .galeria {
        margin: 7px 7px 7px 7px;
        box-shadow: 0 4px 8px 0 lightsalmon, 0 6px 20px 0 black;
        width: 350px;
        display: flex;
        float: left;
        align-items: center;
        justify-content: space-around;
        padding: 5px; }
        body main .gallery .galeria:hover {
          border: auto solid lightblue; }
        body main .gallery .galeria img {
          width: 320px;
          height: 300px;
          object-fit: cover;
          filter: brightness(78%); }
          body main .gallery .galeria img:hover {
            filter: brightness(100%); }
        body main .gallery .galeria .pie-de-foto {
          color: aliceblue;
          position: absolute; }
    body main .historia {
      display: inline-grid;
      text-align: center;
      justify-content: center;
      color: aliceblue;
      margin-bottom: 70px;
      padding: 30px;
      margin-top: 70px;
      font-size: 20px; }

.clases {
  width: 450px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: center;
  align-content: center;
  display: inline;
  padding: 10px;
  display: contents; }
  .clases .sabados2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-size: contain;
    margin-top: 30px;
    margin-block-end: 15px;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px; }
  .clases .sabados2 div {
    width: 500px;
    box-shadow: 0 4px 8px 0 #cbd605, 0 6px 20px 0 #7affba;
    padding-inline: 60px;
    text-align: center; }
    .clases .sabados2 div h2:hover {
      color: cornsilk;
      font-size: larger; }
    .clases .sabados2 div h3:hover {
      color: cornsilk;
      font-size: larger; }
  .clases .video {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    width: 70%;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 #d65505, 0 6px 20px 0 #7affba; }

.equipo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  /*display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;*/ }
  .equipo .integrantes {
    margin: 30px 30px;
    align-content: space-between;
    box-shadow: 0 4px 8px 0 #7affba, 0 6px 20px 0 #7affba;
    width: 300px;
    display: inline-flexbox;
    float: left;
    align-items: center;
    text-align: center;
    align-content: center; }
    .equipo .integrantes .foto img {
      width: 100%;
      height: auto;
      gap: 5px;
      object-fit: cover; }
    .equipo .integrantes p {
      color: beige; }

.slider {
  width: 99vw;
  height: auto;
  margin: auto;
  overflow: hidden; }
  .slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 14); }
    .slider .slide-track .slide {
      width: 200px; }
      .slider .slide-track .slide img {
        width: 100%; }

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -webkit-transform: translateX(calc(-200px * 7));
    transform: translateX(calc(-200px * 7)); } }

.eventos {
  width: 450px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: center;
  align-content: center;
  display: inline;
  padding: 10px;
  display: contents; }
  .eventos .fechas {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    background-size: contain;
    margin-top: 30px;
    margin-block-end: 15px;
    overflow: hidden;
    flex-wrap: no-wrap;
    padding-left: 10px;
    padding-right: 10px; }
  .eventos .fechas div {
    width: 500px;
    box-shadow: 0 4px 8px 0 #cbd605, 0 6px 20px 0 #7affba;
    padding-inline: 60px;
    text-align: center; }
    .eventos .fechas div h2:hover {
      color: cornsilk;
      font-size: larger; }
    .eventos .fechas div h3:hover {
      color: cornsilk;
      font-size: larger; }

form {
  width: 450px;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 7px; }
  form h2 {
    color: aliceblue;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px; }
  form input, form textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px; }
  form textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%; }

form .boton {
  padding: 20px; }

footer {
  box-sizing: content-box;
  width: 100%;
  height: 10%;
  background-color: rgba(245, 245, 220, 0.455);
  border-radius: 0 0 10px 10px; }
  footer .grupo-1 {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
    justify-items: center; }
    footer .grupo-1 .box figure {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      footer .grupo-1 .box figure img {
        width: 50%; }
      footer .grupo-1 .box figure .box h2 {
        color: black;
        margin-bottom: 25px;
        font-size: 20px;
        stroke: black; }
        footer .grupo-1 .box figure .box h2 .box p {
          color: black;
          margin-bottom: 10px;
          justify-content: center;
          align-items: center;
          text-align: center;
          /*padding: 2%;
                            display:flex;*/ }
  footer .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin-right: 10px;
    background-color: #ececec;
    text-align: center;
    justify-content: center;
    align-items: center; }
  footer .grupo-2 {
    background-color: black;
    padding: 15px 10px;
    text-align: center;
    color: white; }
    footer .grupo-2 small {
      font-size: 16px; }

@media (max-width: 1024px) {
  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center; }
  .clases .video {
    flex-direction: column; } }

@media (max-width: 768px) {
  header {
    top: 0;
    left: 0;
    position: absolute;
    width: 70px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    background-color: rgba(245, 245, 245, 0.941);
    /*flex-direction: column;
        box-sizing: content-box;
        height:fit-content;*/ }
    header div img {
      display: none; }
  nav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start; }
    nav ul {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: flex-start;
      justify-content: flex-start; }
  nav a {
    color: black;
    margin: 0; }
  h1 {
    margin-top: 20px;
    margin-left: 200px; }
  .gallery {
    margin-left: 200px; }
    .gallery .pie-de-foto {
      margin-right: 150px; }
  p {
    margin-left: 200px; }
  .sabados2 {
    margin-left: 200px; }
  video {
    display: none; }
  .slider {
    display: none; }
  footer .grupo-1 {
    margin: auto;
    align-items: center; }
    footer .grupo-1 .red-social {
      display: flex;
      align-content: center;
      align-items: center;
      margin-right: 10px; }
    footer .grupo-1 .box p {
      margin: auto;
      align-items: center;
      align-content: center; } }

.clases {
  flex-direction: column; }

.fechas {
  width: 70%; }

@media (max-width: 425px) {
  footer .grupo-1 figure img {
    display: none; }
  footer .grupo-1 .box h2 {
    display: none; }
  footer .grupo-1 .box p {
    display: none; }
  footer .grupo-1 .red-social {
    margin-right: 250px; }
  .clases {
    flex-direction: column; }
  h1 {
    display: none; }
  .gallery {
    display: none; }
  .video {
    display: none; } }

@media (max-width: 320px) {
  header {
    width: 30px;
    height: 100vh; }
    header nav ul a {
      font-size: 16px;
      margin-left: 0;
      align-items: flex-start;
      align-content: flex-start; }
  .gallery {
    display: none; }
  .clases .sabados2 div h2 {
    font-size: 16px; }
  .clases .sabados2 div h3 {
    font-size: 16px; }
  .video {
    display: none; } }
