@charset "UTF-8";
/*en el caso de contar con variables, funciones, mixins - deben ir antes del resto de las paginas*/
/*son bloques de propiedades y valores - hay que nombrarlos*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }

body {
  background-image: url(https://images.unsplash.com/photo-1550275994-cdc89cd1948f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8YmFja2dyb3VuZCUyMGRhbnphfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
  /*background-image: $background-image2;*/
  /*overflow-x: hidden;*/
  /*overflow-y: hidden;*/
  background-size: 100vw 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
  body main {
    box-sizing: content-box; }

header {
  display: flex;
  /*width: 100%;*/
  height: 30%;
  justify-content: space-between;
  background-color: #e8ebefce;
  align-items: center;
  padding: 10px;
  color: #e6dcdc;
  font-size: 16px; }
  header .logotipo {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold; }
  header .navegacion {
    display: flex; }
    header .navegacion li {
      list-style-type: none; }
      header .navegacion li a {
        font-weight: 600;
        padding-right: 10px;
        font-size: 18px;
        text-decoration: none;
        color: #000000; }
        header .navegacion li a:hover {
          color: red; }

main h1 {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center;
  gap: 10pxs;
  font-size: 35px;
  text-align: center;
  color: aliceblue;
  margin-top: 20px;
  padding: 30px; }

main .gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-direction: row;
  flex-wrap: wrap; }
  main .gallery .galeria {
    margin: 7px 7px 7px 7px;
    box-shadow: 0 4px 8px 0 lightsalmon, 0 6px 20px 0 black;
    width: 350px;
    display: flex;
    float: left;
    align-items: center;
    justify-content: space-around;
    padding: 5px; }
    main .gallery .galeria:hover {
      border: auto solid lightblue; }
    main .gallery .galeria img {
      width: 320px;
      height: 300px;
      object-fit: cover;
      filter: brightness(78%); }
      main .gallery .galeria img:hover {
        filter: brightness(100%); }
    main .gallery .galeria .pie-de-foto {
      color: aliceblue;
      position: absolute; }

main .historia {
  display: inline-grid;
  text-align: center;
  justify-content: center;
  color: aliceblue;
  margin-bottom: 70px;
  padding: 30px;
  margin-top: 70px;
  font-size: 20px; }
  main .historia strong {
    color: #1b2572; }

.clases {
  width: 450px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: center;
  align-content: center;
  display: inline;
  padding: 10px;
  display: contents; }
  .clases div h1 {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: center;
    align-items: center;
    gap: 10pxs;
    font-size: 70px;
    text-align: center;
    color: aliceblue;
    margin-top: 20px;
    padding: 30px; }
  .clases .sabados2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-size: contain;
    margin-top: 30px;
    margin-block-end: 15px;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px; }
  .clases .sabados2 div {
    width: 500px;
    box-shadow: 3px 4px 8px 3px #cbd605, 3px 6px 20px 3px #7affba;
    padding-inline: 60px;
    text-align: center; }
    .clases .sabados2 div h2:hover, .clases .sabados2 div h3:hover {
      color: cornsilk;
      font-size: larger;
      font-family: fantasy; }
    .clases .sabados2 div h3:hover {
      font-family: none;
      /*color:cornsilk;
            font-size: larger;*/ }
  .clases .video {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    width: 70%;
    object-fit: cover;
    box-shadow: 3px 4px 8px 3px #d65505, 3px 6px 20px 3px #7affba; }

.equipo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  /*display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;*/ }

.integrantes {
  margin: 30px 30px;
  align-content: space-between;
  box-shadow: 0 4px 8px 0 #7affba, 0 6px 20px 0 #7affba;
  width: 300px;
  display: inline-flexbox;
  float: left;
  align-items: center;
  text-align: center;
  align-content: center; }
  .integrantes .foto img {
    width: 100%;
    height: auto;
    gap: 5px;
    object-fit: cover; }
  .integrantes p {
    color: beige; }

.slider {
  width: 99vw;
  height: auto;
  margin: auto;
  overflow: hidden; }
  .slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 14); }
    .slider .slide-track .slide {
      width: 200px; }
      .slider .slide-track .slide img {
        width: 100%; }

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -webkit-transform: translateX(calc(-200px * 7));
    transform: translateX(calc(-200px * 7)); } }

.eventos {
  width: 450px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: center;
  align-content: center;
  justify-content: center;
  display: inline;
  padding: 10px;
  display: contents; }
  .eventos div h1 {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: center;
    align-items: center;
    gap: 10pxs;
    font-size: 70px;
    text-align: center;
    color: aliceblue;
    margin-top: 20px;
    padding: 30px; }
  .eventos .fechas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-size: contain;
    margin-top: 30px;
    margin-block-end: 15px;
    overflow: hidden;
    flex-wrap: no-wrap;
    padding-left: 10px;
    padding-right: 10px; }
  .eventos .fechas div {
    width: 500px;
    box-shadow: 0 4px 8px 0 #cbd605, 0 6px 20px 0 #7affba;
    padding-inline: 60px;
    text-align: center; }
    .eventos .fechas div h2:hover, .eventos .fechas .clases .sabados2 div h3:hover, .clases .sabados2 .eventos .fechas div h3:hover {
      color: cornsilk;
      font-size: larger; }
    .eventos .fechas div h3:hover {
      color: cornsilk;
      font-size: larger; }

form {
  width: 450px;
  height: 100vh;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 7px; }
  form h2, form .clases .sabados2 div h3:hover, .clases .sabados2 div form h3:hover {
    color: aliceblue;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px; }
  form input, form textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px; }
  form textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%; }

form .boton {
  padding: 20px; }

footer {
  background-color: rgba(245, 245, 220, 0.455);
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: column; }
  footer .red-social-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px; }
    footer .red-social-box h2, footer .red-social-box .clases .sabados2 div h3:hover, .clases .sabados2 div footer .red-social-box h3:hover {
      display: block;
      font-size: 1.5em;
      margin: 10px 20px 10px 20px;
      font-weight: bold; }
  footer .red-social {
    display: flex; }
    footer .red-social a {
      display: flex;
      text-decoration: none;
      width: 45px;
      height: 45px;
      line-height: 45px;
      margin-right: 10px;
      background-color: #ececec;
      text-align: center;
      justify-content: center;
      align-items: center; }
  footer .grupo-2 {
    background-color: black;
    padding: 15px 10px;
    text-align: center;
    color: white; }

/*footer {
    box-sizing: content-box;
    width: 100%;
    height: 10%;
    background-color: rgba(245, 245, 220, 0.455);
    border-radius: 0 0 10px 10px;

    .grupo-1 {
        width: 100%;
        max-width: 1000px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        padding: 45px 0px;
        justify-items: center;

        .box figure {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width:30%;
            }

            .box h2 {
                color: black;
                margin-bottom: 25px;
                font-size: 20px;
                stroke: black;

                .box p {
                    color: black;
                    margin-bottom: 10px;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                }
            }
        }
    }

    .red-social a {
        display: inline-block;
        text-decoration: none;
        width: 45px;
        height: 45px;
        line-height: 45px;
        margin-right: 10px;
        background-color: rgb(236, 236, 236);
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .grupo-2 {
        background-color: rgb(0, 0, 0);
        padding: 15px 10px;
        text-align: center;
        color: rgb(255, 255, 255);

        small {
            font-size: 16px;
        }
    }
}*/
@media (max-width: 1024px) {
  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center; }
  .clases .video {
    flex-direction: column; } }

@media (max-width: 768px) {
  header {
    flex-direction: column;
    /*flex-direction: column;
            box-sizing: content-box;
            height:fit-content;*/
    /*div {
                img {
                    display: none;
                }
            }*/ }
    header .navegacion {
      display: flex;
      flex-direction: column; }
  /*
        nav {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-content: flex-start;
            justify-content: flex-start;
    
            ul {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                align-items: flex-start;
                justify-content: flex-start;
            }
        }
    
        nav a {
            color: rgb(0, 0, 0);
            margin: 0;
    }
*/
  h1 {
    margin-top: 190px; }
  /*.gallery {
        margin-left: 200px;

        .pie-de-foto {
            margin-right: 150px;
        }
    }

    p {
        margin-left: 200px;
    }*/
  /*.sabados2 {
        margin-left: 200px;
    }*/
  .equipo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px; }
  .eventos {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center; }
    .eventos div h1 {
      display: none; }
  .slider {
    display: none; }
  .clases {
    flex-direction: column; }
    .clases video {
      display: none; }
  .fechas {
    width: 100%; }
  form h2, form .clases .sabados2 div h3:hover, .clases .sabados2 div form h3:hover {
    color: aliceblue;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px; } }

@media (max-width: 425px) {
  footer .grupo-1 figure img {
    display: none; }
  footer .grupo-1 .box h2, footer .grupo-1 .box .clases .sabados2 div h3:hover, .clases .sabados2 div footer .grupo-1 .box h3:hover {
    display: none; }
  footer .grupo-1 .box p {
    display: none; }
  footer .grupo-1 .red-social {
    margin-right: 250px; }
  .clases {
    flex-direction: column; }
    .clases div h1 {
      display: none; }
    .clases video {
      display: none; }
  h1 {
    display: none; }
  .gallery {
    display: none; }
  .video {
    display: none; }
  .eventos .fechas {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap; } }

@media (max-width: 320px) {
  header {
    width: 100%;
    height: 100%;
    position: static; }
    header nav ul a {
      font-size: 16px;
      margin-left: 0;
      align-items: flex-start;
      align-content: flex-start; }
  body main h1 {
    display: none; }
  .gallery {
    display: none; }
  .clases .sabados2 div h1 {
    display: none; }
  .clases .sabados2 div h2, .clases .sabados2 div h3:hover {
    font-size: 16px; }
  .clases .sabados2 div h3 {
    font-size: 16px; }
  .video {
    display: none; }
  form {
    width: 100%;
    height: 100%; }
  footer .red-social-box {
    flex-direction: column;
    padding: 8px; } }
