$background-image1: linear-gradient( 135deg, #F761A1 10%, #8C1BAB 100%);
$background-image2:linear-gradient(90deg, rgba(36,0,6,1) 0%, rgba(255,13,67,1) 35%, rgba(0,1,8,1) 100%);
$background-image3:linear-gradient(to top, #0250c5 0%, #d43f8d 100%);
$background-image4:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,252,13,1) 35%, rgba(0,1,8,1) 100%);