body {
    /*background-image: url(https://images.unsplash.com/photo-1550275994-cdc89cd1948f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8YmFja2dyb3VuZCUyMGRhbnphfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);*/
    background-image: $background-image2;
    overflow-x: hidden;
    overflow-y: hidden;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    main {
        box-sizing: content-box;
    }
}