.slider{
    width: 99vw;
    height: auto;
    margin: auto;
    overflow: hidden;
    .slide-track{
        display: flex;
        animation: scroll 40s linear infinite;
        -webkit-animation: scroll 40s linear infinite;
        width: calc(200px * 14);
        .slide{
            width: 200px;
            img{
                width: 100%;
            }
        }
    }
    @keyframes scroll{
        0%{
            -webkit-transform: translateX(0);
            transform:translateX(0);
        }
        100%{
            -webkit-transform:translateX(calc(-200px * 7));
            transform:translateX(calc(-200px * 7));
        }
        
    }
}
.eventos{ 
    width: 450px;
    margin: auto;
    margin-top: 30px;
    margin-bottom:30px;
    align-items: center;
    align-content: center;
    display: inline;
    padding: 10px;
    display: contents;

    .fechas{
        @include flex(row,no-wrap,space-between,center,30px);
        background-size: contain;
        margin-top: 30px;
        margin-block-end: 15px;
        overflow: hidden;
        flex-wrap:no-wrap;
        padding-left: 10px;
        padding-right: 10px;
    }
    .fechas div{
        width: 500px;
        box-shadow: 0 4px 8px 0 rgb(203, 214, 5),0 6px 20px 0 rgb(122, 1255, 186);
        padding-inline: 60px;
        text-align: center;
        h2:hover{
            color:cornsilk;
            font-size: larger;
        }
        h3:hover{
            color:cornsilk;
            font-size: larger;
        }
    }
}