form{
    width: 450px;
    height: 100vh;
    margin: auto;
    background: rgba(0,0,0,0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 7px;        

    h2{
        color: aliceblue;
        text-align: center;
        margin: 0;
        font-size: 30px;
        margin-bottom: 20px;
    }
    input, textarea{
        width: 100%;
        margin-bottom: 20px;
        padding: 7px;
        box-sizing: border-box;    
        font-size: 17px;
    }
    textarea{
        min-height: 100px;
        max-height: 200px;
        max-width: 100%;
    }
}