.clases{
    width: 450px;
    margin: auto;
    margin-top: 30px;
    margin-bottom:30px;
    align-items: center;
    align-content: center;
    display: inline;
    padding: 10px;
    display: contents;
    .sabados2{
        @include flex(row,wrap,center,center,30px);
        background-size: contain;
        margin-top: 30px;
        margin-block-end: 15px;
        overflow: hidden;
        padding-left: 10px;
        padding-right: 10px;
        
    }
    .sabados2 div{
        width: 500px;
        box-shadow: 0 4px 8px 0 rgb(203, 214, 5),0 6px 20px 0 rgb(122, 1255, 186);
        padding-inline: 60px;
        text-align: center;
        h2:hover{
            color:cornsilk;
            font-size: larger;
        }
        h3:hover{
            color:cornsilk;
            font-size: larger;
        }
    }

    .video{
        @include flex(row,no-wrap,center,center,10px);
        margin: auto;
        margin-top: 20px;
        padding: 20px;
        width:70%;
        object-fit: cover;
        box-shadow: 0 4px 8px 0 rgb(214, 85, 5),0 6px 20px 0 rgb(122, 1255, 186);
    }
}