@media(max-width:425px){
    footer{    
        .grupo-1 {    
            .box figure { 
                display:none;   
                img {
                    display:none;
                }
                .box h2 {
                    display: none;
                    .box p {
                        display:none;
                    }
                }
            }
        }
    }
}