@media(max-width:768px) {
        header {
                top: 0;
                left: 0;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                align-content: flex-start;
                justify-content: flex-start;
                background-color: #e8ebefce;
    
            /*flex-direction: column;
            box-sizing: content-box;
            height:fit-content;*/
    
            /*div {
                img {
                    display: none;
                }
            }*/
        }
    /*
        nav {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-content: flex-start;
            justify-content: flex-start;
    
            ul {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                align-items: flex-start;
                justify-content: flex-start;
            }
        }
    
        nav a {
            color: rgb(0, 0, 0);
            margin: 0;
    }
*/
    h1 {
        margin-top: 190px;
    }

    /*.gallery {
        margin-left: 200px;

        .pie-de-foto {
            margin-right: 150px;
        }
    }

    p {
        margin-left: 200px;
    }*/

    /*.sabados2 {
        margin-left: 200px;
    }*/
.equipo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
    video {
        display: none;
    }
.eventos{
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    div{
        h1{
           display: none;
        }
    }
}
    .slider {
        display: none;
    }

    .clases {
        flex-direction: column;
    }

    .fechas {
        width: 100%;
    }
    form{
        h2{
            color: aliceblue;
    text-align: center;
            
    font-size: 30px;
    margin-bottom: 20px;
        }
    }
}