@media(max-width:425px){
    footer{
        .grupo-1{
            figure{
                img{
                    display:none;
                }
            }
            .box{
                h2{
                    display: none;
                }
                p{
                    display: none;
                }
            }
            .red-social{
                margin-right: 250px;
            }
        }
    }
    .clases{
        flex-direction: column;
    }
    h1{
        display: none;
    }
    .gallery{
        display: none;
    }
    .video{
        display: none;
    }
}
    
