@media(max-width:320px){
    header{
        width: 30px;
        height: 100vh;
        nav{
            ul{
                a{
                    font-size: 16px;
                    margin-left: 0;
                    align-items: flex-start;
                    align-content: flex-start;
                }
            }
        }
    }
    .gallery{
        display: none;
    }
    .clases{
        .sabados2{
            div{
                h2{
                    font-size: 16px;
                }
                h3{
                    font-size: 16px;
                }
            }
        }
    }
    .video{
        display: none;
    }
}