@media(max-width:425px){
    footer{
        .grupo-1{
            figure{
                img{
                    display:none;
                }
            }
            .box{
                h2{
                    display: none;
                }
                p{
                    display: none;
                }
            }
        }
    }
    .clases{
        flex-direction: column;
    }
}
    
